// item
.item {
  border-left: $item-border-width solid transparent;
  cursor: pointer;
  padding: $space;
  transition: background-color .3s ease, border-left .3s ease;
}

.item:hover {
  background-color: $grey-bg;
  border-left: $item-border-width solid $grey;
}

.item--selected, .item--selected:hover {
  background-color: $grey-bg;
  border-left: $item-border-width solid $item-border-select;
}

.item__message {
  color: $item-text-color;
}

.item__status-message {
  color: $item-text-color;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.item--buttons {
  display: flex;
  justify-content: space-between;
}

.item__title {
  font-size: $base-font-size;
  font-weight: normal;
  margin-bottom: .4rem;
}

.item--selected .item__title {
  font-weight: bold;
}

.item__date {
  color: $dark-grey;
  margin: 0;
}

// item list
.item-list {
  background-color: white;
  border: 1px solid $grey;
  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

.item-list__header {
  display: flex;
  flex-direction: column;
  padding: $space;
}

.empty-item {
  font-style: italic;
  padding: $space;
  text-align: center;
}
