.page-content {
  display: flex;
  height: $page-content-heigth;
  margin: 0 auto;
  max-width: $site-max-width;

  @include desktop {
    padding: $large-space $space;
  }
}

.page-content__sidebar {
  display: none;
  flex: 3;
  padding-right: $large-space;

  @include desktop {
    display: flex;
  }
}

.page-content__main {
  display: flex;
  flex: 7;
}